<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_item" > Uusi Arvioitava </a>
  </p>
  <h2>Arvioitavat</h2>
  <url>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </url>
</body>

</html>
