<html>

<head>
  <title>Uusi arvosteltava</title>
</head>

<body>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" >
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="40"></textarea>
    </p>
      Arvostelu: <br />
      <input type="text" name="tahdet">
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="Luo_Arvostelu" />
  </form>

</body>

</html>
